<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger col col-6 offset-3 mt-4" role="alert">
    <h1>Error <%= statusCode %></h1>
    <p><%= message %></p>
  </div>
</div>
